<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Block</title>
  <link rel="stylesheet" href="./css/codeblock.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
</head>
<body>
  <h1>Code Block</h1>
  <div class="code-block">
      <h2 id="title"></h2>
      <textarea id="codeInput" placeholder="Enter your code here"></textarea>
      <pre><code id="codeDisplay" class="javascript"></code></pre>
      <button type="button" id="saveButton">Save Changes</button>

  </div>
  <div id="model">
    <img src="js/assets/smile.png" alt="smile"  />
    <p>Woohoo !!</p>
    <button type="button" id="close-model">close</button>
  </div>
  <div id="model-try-again">
    <p>Try again</p>
    <button type="button" id="close-model-try">close</button>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
  <script src="./js/codeblock.js"></script>
</body>
</html>
